<h2>Meet the Pod</h2>
<div class="card-container">
    {% for item in site.data.fellows %}
    <div class="card">
        <div class="info">
            <p class="title"> {{ item.name }}</p>
            <p class="location"> {{ item.location }}</p>
        </div>
        <div class="icon">
            <img src="linkedin.png">
        </div>
        <div class="icon">
            <img src="twitter.png">
        </div>
        <div class="icon">
            <img src="resume.png">
        </div>
        <div class="icon">
            <img src="github.png">
        </div>
    </div>
    {% endfor %}
</div>