<footer class="pt-4 my-md-5 pt-md-5 border-top ">
    <div class="row lower-than-for-sticking">
      <div class="col-6 col-md text-center">
        <img class="mb-2" src="./assets/img/mlh-prep.png" alt="mlh prep" height="50">
        <small class="d-block mb-3 text-muted">&copy; <script>document.write(new Date().getFullYear());</script></small>
        Follow us on: 
        <p class="socials">
            <a href="/index.html">
                <img class="mb-2 enlarged" src="./assets/img/socials/github.svg" alt="mlh prep" >
            </a>
            <a href="">
                <img class="mb-2" src="./assets/img/socials/linkedin.svg" alt="mlh prep">

            </a>
            <a href="">
                <img class="mb-2" src="./assets/img/socials/twitter.svg" alt="mlh prep" >

            </a>
            <a href="">
                <img class="mb-2 enlarged" src="./assets/img/socials/facebook.svg" alt="mlh prep" >

            </a>
            <a href="">
                <img class="mb-2" src="./assets/img/socials/instagram.svg" alt="mlh prep" >

            </a>
            <a href="">
                <img class="mb-2" src="./assets/img/socials/discord.svg" alt="mlh prep" >

            </a>
        </p>
      </div>
      <div class="col-6 col-md">
        <h5>SITE MAP</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Home</a></li>
          <li><a class="text-muted" href="#">About Us</a></li>
          <li><a class="text-muted" href="#">Projects</a></li>
          <li><a class="text-muted" href="#">Blog</a></li>
          <li><a class="text-muted" href="#">Socials</a></li>
        </ul>
      </div>
    <!--  <div class="col-6 col-md">
        <h5>Blog</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div> -->
      <div class="col-12 col-md medium-on-small-screen">
        <h5>Projects</h5>
        <ul class="list-unstyled text-small">
            {% for item in site.data.projects %}
            {% if item.page-name %}
            <a href="/projects/{{ item.page-name }}">
            {% else %}
            <a>
            {% endif %}
             
            <li class="text-muted">{{ item.title }} [ {{ item.date }} ]</li>
            </a>
            {% endfor %}
        </ul>
      </div>
    </div>
  </footer>