<header class="nav-bar">
  <div class="nav-logo">
    <a href="{{ '/' | relative_url }}">
      <img src="./assets/img/mlh-prep.png" />
    </a>
  </div>
  <nav class="nav-content">
    <ul class="nav-links">
      <li><a href="#home" class="scroll-link">Home</a></li>
      <li><a href="#meet-the-pod" class="scroll-link">Meet the Pod</a></li>
      <li><a href="#projects" class="scroll-link">Projects</a></li>
      <li><a href="#contact-us" class="scroll-link">Contact Us</a></li>
    </ul>
  </nav>
</header>
