
footer
{
    background-color: #0c203c !important;
    color: #f5f5f9;
    margin-top: auto;
}

footer .socials img{
    height: 20px;
}

footer .socials img.enlarged{
height: 28px;
margin-left: -4px;
margin-right: -4px;
}