footer {
    background-color: #162f51 !important;
    color: #f5f5f9;

}

footer .socials img {
    height: 20px;
}

footer .socials img.enlarged {
    height: 28px;
    margin-left: -4px;
    margin-right: -4px;
}

footer .lower-than-for-sticking {
    margin-bottom: -60px;
    padding-bottom: -60px;
    padding-bottom: -60px;
}

footer .text-muted{
    color: #c9c9c9 !important;
}
.pod-logo{
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    footer .medium-on-small-screen {
        padding-left: 14%;
    }
}