---
layout: page
---
<div class="fellow-container">
    <div class="fellow-img-container">
        <img class="rounded-circle fellow-img" src="{{ page.img }}" alt="{{ page.title }}">
    </div>
    
    <div class="fellow-info-container">
        <h2 class="fellow-name">{{ page.full_name }}</h2>
        <div>
            <hr>
        </div>


        <div class="fellow-info">
            <span class="fellow-info-key">Location: </span>
            <span class="">{{ page.location }}</span>
        </div>


        <div class="fellow-info">
            <span class="fellow-info-key">University: </span>
            <span class="">{{ page.university }}</span>
        </div>

        <div class="fellow-info">
            <span class="fellow-info-key">Description:</span>
            <span class="">
                {{ page.description }}
            </span>
        </div>

        <div class="fellow-info">
            <span class="fellow-info-key">Favourite programming languages:</span>
            <span class="">
                {{ page.favorite_programming_language }}
            </span>
        </div>

        <div class="fellow-info">
            <span class="fellow-info-key">Interests out of Tech:</span>
            <span class="">
                {{ page.interests }}
            </span>
        </div>

        <!--<div class="social-icons d-flex flex-row align-items-center">
            <a href="mailto:{{ page.email }}">
                <span class="fellow-social-icons"><i class="fa fa-envelope social-icons-hover"></i></span>
            </a>
            <a href="{{ page.linkedin }}">
                <span class="fellow-social-icons"><i class="fab fa-linkedin social-icons-hover"></i></span>
            </a>
            <a href="{{ page.twitter }}">
                <span class="fellow-social-icons"><i class="fa fa-twitter social-icons-hover"></i></span>
            </a>
            <a href="{{ page.github }}">
                <span class="fellow-social-icons"><i class="fa fa-github social-icons-hover"></i></span>
            </a>
        </div>-->
    </div>
</div>